@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

$bg: #fff;
$text: #7288a2;
$gray: #4d5974;
$lightgray: #e5e5e5;
$blue: #03b5d2;

* {
    box-sizing: border-box;
    &::before, &::after {
        box-sizing: border-box;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
    background: $bg;
    color: $gray;
    display: flex;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
}

.accordion {
    .accordion-item {
        border-bottom: 1px solid $lightgray;
        button[aria-expanded='true'] {
            border-bottom: 1px solid $blue;
        }
    }
}
button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: $text;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    &:hover, &:focus {
        cursor: pointer;
        color: $blue;
        &::after {
            cursor: pointer;
            color: $blue;
            border: 1px solid $blue;
        }
    }
    
}